{% extends 'layout.html' %}

{% block title %}
<title> List of Products (S G A) </title>
{% endblock %}

{% block body %}


<div class="container p-4">
    <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p>{{ message }}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}

        {% endif %}
        {% endwith %} -->

    <div class="wrapper">
        <div class="container col-md-auto p-4 ">

            <h3 class="text-center">List of Products</h3>
            <hr>
            <div id="nuevo" class="container text-left">

                <nav class="navbar navbar-light bg-light col-md-auto">


                    <form class="form-inline col-4" action="/home/productos">
                        <input hidden name="instruccion" value="nuevo">
                        <button name="nuevo" class="btn btn-success my-2 mx-2 btn-lg" type="submit"><i
                                class="fa fa-plus"></i>&nbsp;Agregar</button>
                    </form>

                    <form class="form-inline" action="#">
                        <button name="search" class="btn btn-outline-info my-0 mx-2 btn-lg" type="submit"><i
                            class="fa fa-search"></i>&nbsp;Buscar</button>
                    </form>
                    <!--<a href="<%=request.getContextPath()%>/Vistas/FrmProveedor.jsp" class="btn btn-success">Agregar</a>-->

                    <form class="form-inline col-6" action="#">
                        <input hidden name="instruccion" value="search">
                        <input name="search" class="form-control my-2 mx-0 type="search" placeholder="Buscar"
                            aria-label="Search">
                       
                    </form>
                </nav>

            </div>
            <hr>
            <br>
            <div class="col-md-12 p-2">
                <table class="table table-striped table-bordered bg-white 
                table-sm table-hover">
                
                    <thead>
                        <tr>
                            <th>ProdutcID</th>
                            <th>Description</th>
                            <th>$ Costo</th>
                            <th>$ Precio</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.0 }}</td>
                            <td>{{ product.1 }}</td>
                            <td>{{ product.2 }}</td>
                            <td>{{ product.3 }}</td>
                            <td class="d-grid gap-2 d-md-flex justify-content-md-center ">
                                <a href="/home/get_product_byId/{{ product.0 }}" class="btn btn-info btn-sm mx-auto">Editar</a>
                                <a href="/home/delete_product/{{ product.0 }}" class="btn btn-danger btn-sm mx-auto">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
        
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% endblock %}