{% extends 'layout.html' %}

{% block title %}
<title> List Products (S G A) </title>
{% endblock %}

{% block body %}


<!-- Formulario -->
<div class="container p-4">
<div class="row justify-content-md-center p-4 ">
    <div class="col-md-5 p-4">
        
        <div class="card card-body p-4">
            <form action="/home/add_product" method="POST">

                <h2>Add New Product</h2>

                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" name="descrip" id="descrip"
                        placeholder="Enter Product Description">
                </div>

                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1" class="form-label">Costo</label>

                    <input type="text" class="form-control" name="cost" id="cost" placeholder="Enter Product  Cost">
                </div>

                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1" class="form-label">Precio</label>

                    <input type="text" class="form-control" name="price" id="price" placeholder="Enter Product Price">
                </div>


                <div class="form-group pt-2 d-grid gap-2 col-3 mx-auto">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    <a href="/home/get_productos" class="btn btn-warning btn-sm">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
   
</div>

{% endblock %}